.logo{
    position:center;
    width: 25%;
    height: 25%;
}

header a button{
    position: center;
}

table{
    background-color: ghostwhite;
}


button {
    background-color: #6f9ceb;
    border-radius: 8px;
    font-family: Arial;
    font-weight: bold;
    color: #ffffff;
    padding-left: .75em;
    padding-right: .75em;
}

td{
    text-align: center;
}

button:hover{
    background-color:#d4a348;
}

input {
    border-radius: 4px;
}

td{
    font-family: sans-serif;
    color: #000000;
}

a:hover {
    color: #d4a348    
}

a:link 
{   
 text-decoration:none;   
}   